<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="lab.yohesu.faunaindonesia">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/logo"
            android:supportsRtl="true"
            android:theme="@style/Theme.FaunaIndonesia"
            android:largeHeap="true"
            tools:ignore="AllowBackup">
        <activity
                android:name=".view.LeaderboardActivity"
                android:exported="true"/>
        <activity
                android:name=".view.PlayingActivity"
                android:exported="true"/>
        <activity
                android:name=".view.LearningActivity"
                android:exported="true"/>
        <activity
                android:name=".view.MenuActivity"
                android:exported="true"/>
        <activity
                android:name=".view.SplashActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".view.MainActivity"
                android:exported="true">
        </activity>
    </application>

</manifest>